body
{
    background:rgba(181, 219, 219, 0.849);
}
#ele{
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: 1;
    overflow:hidden;
  }
  
  @keyframes slidein {
    from {
      margin-right: 100%;
    }
  
    to {
      margin-left: 0%;
    }
  }
h3
{
    text-align: center;
    font-size: 40px;
}
embed
{
    height: 7em;
    width:100em;
}
img
{
    height:600px;
    transform:translateX(50px);
}
#header
{
    font-weight: bold;
    font-size: 5.5em;
    letter-spacing: 0.2rem;
    font-family: 'Luckiest Guy', cursive;
}
#map:hover
{
    box-shadow: 15px 15px 3px 10px black;
    transform:translate(4);
    transition:all 0.4s;
    cursor: pointer;
}
#dance1{
    animation-duration: 15s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    overflow:hidden;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
    }
  
    to {
      margin-left: 0%;
    }
  }
  #dance2{
    animation-duration: 15s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    overflow:hidden;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
    }
  
    to {
      margin-left: 0%;
    }
  }
#hawa
{
    height: 700px;
    width: 900px;
    background-color: rgba(255, 0, 221, 0.377);
    height:600px;
    transform:translateX(50px);
    background-image: url("hawa2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
#hawa:hover
{
    box-shadow: 15px 15px 3px 10px black;
    transform:translate(4);
    transition:all 0.4s;
    cursor:pointer;
}
#chooser
{
    font-size: 40px;
    font-weight: bold;
}
select
{
    font-weight: bold;
    font-size: 20px;
}
h1
{
    font-size: 60px;
    text-decoration: underline;
    text-align: center;
}
#main
{
    font-size: 30px;
    font-family: 'Satisfy', cursive;
}
h2
{
    font-size: 55px;
    text-decoration: underline dotted;
}
#footer1
{
    height:350px;
    width: auto;
    font-size: 25px;
    background: rgba(0, 0, 0);
    color:blanchedalmond;
    padding:25px;
}
#thanx
{
    font-size: 50px;
    border:solid rgb(0, 255, 234);
    font-family: 'Pacifico', cursive;
}
button{
    height:30px;
    width:100px;
    font-weight: bold;
    font-size: 20px;
}
a
{
    font-size: 20px;
    color:cornflowerblue
}
#main img:hover
{
    box-shadow: 15px 15px 3px 10px black;
    transform:translate(4);
    transition:all 0.4s;
    cursor:pointer;
}